.sale-card{
    position : relative ;
    bottom : 23% ;
    left : 1% ;
    width : 40px ;
    height: 40px ;
    text-align: center;
    padding : 8px ;
    border-radius: 50% ;
    border : 1px solid white ;
    background-color : rgb(72,45,123); 
    font-family: 'Azeret Mono', monospace;
    font-size: small;
}

.sale-card a{
    color : #d8c7f5 ;
}

.shipping-card{
    position : absolute ;
    top : 1% ;
    left : 1% ;
    width : 70px ;
    height: 30px ;
    font-family: 'Azeret Mono', monospace;
    font-size : 12px ;
    background-color : rgb(72,45,123);
    border : 1px solid white ; 
    border-radius: 5%;
}

.shipping-card a{
    color : #d8c7f5 ;
}