.category-navbar{
  position: relative;
  overflow: hidden;
  height: 50px;
  width : 100% ;
  border-bottom: 1px solid rgb(200, 175, 255 , 0.6);
}

ul li{
  display: inline-block !important;
  text-transform: capitalize;
}

.category-navbar li {
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  color :rgb(38, 31, 53) ;
}

.category-navbar ul{
  list-style-type: none;
}

.category-navbar li:hover{
  text-shadow: 0 0 1px rgb(245, 97, 250);
  cursor: pointer;
}

.category-center {
  float: none;
  position: absolute;
  display: flex;
  justify-content: center;
  width : 100% ;
  
}
