.container{
    display: flex;
    width: 956px;
    border: solid 1px #e6e6e6;
    box-shadow: 0 1px 4px #0000000d;
    margin :auto ;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.img-view{
    width : 50% ;
    height : 100% ;
    float : left ;
}

.detail-view{
    float : right ;
}

.product-name{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #47424d;
    letter-spacing: .5px;
    font-size: 24px;
    line-height: 1.3px;
}

.product-description{
    font-family: 'Source Sans Pro', sans-serif;
    font-size : 15px ;
}

.price-div{
    display: flex;
    flex-direction: row;
}

.percentage{
    border : 1px solid #76678a ;
    padding : 3px ;
    margin-left: auto;
    order : 2 ;
    border-radius: 6px;
    justify-content: center;
    padding-right: 5px;
}

.sale-container{
    display: flex;
    flex-direction: row;
    width : 100% ;
    height : 50px ;
    margin-top : 20px ;
}

.quantity-button{
    width : 30px ;
    height : 30px ;
    margin-right : 5px ;
    margin-left : 5px ;
}

.cart-button{
    width: 86%;
    height: 35px;
}

.cart-container{
    display: flex;
    flex-direction: row;
}

.star-border-icon{
    width : 1em !important ;
    height: 1em !important;
}

.icon-button{
    width : 1.5em !important ;
    height: 1.5em !important;
}

.star-container{
    width : 35px ;
    height : 35px ;
    border-radius: 15%;
    margin-left: auto;
    border : 1px solid #76678a ;
}

.detail-container{
    padding-top : 10px ;
    width : 425px ;
    max-height : 200px ;
    overflow: hidden;
}

.show-details-button{
    width : 100% ;
    height : 35px ;
}

.detail-button-container{
    position: relative;
    display: flex;
    padding-bottom: 10px ;
    box-shadow: 0 -25px 10px rgb(255, 255, 255);
    z-index: 1;
}

.detail-list{
    list-style: square;
}

.list-item{
    display: list-item;
}

.detailTitleStyle{
    padding-bottom : 10px ;
}