.container{
    display: flex;
    width: 956px;
    border: solid 1px #e6e6e6;
    box-shadow: 0 1px 4px #0000000d;
    margin :auto ;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.img-view{
    width : 50% ;
    height : 100% ;
    float : left ;
}

.detail-view{
    float : right ;
}

.product-name{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #521E90;
    letter-spacing: .5px;
    font-size: 24px;
    line-height: 1.3px;
}

.product-description{
    font-family: 'Source Sans Pro', sans-serif;
    font-size : 15px ;
}

.price-div{
    display: flex;
    flex-direction: row;
}

.percentage{
    border : 1px solid red ;
    padding : 3px ;
    margin-left: auto;
    order : 2 ;
}

.sale-container{
    width : 100% ;
    height : 70px ;
    margin-top : 10px ;
}