
.topnav {
    position: relative;
    overflow: hidden; 
    background-color :  rgb(24,0,67);
}
  
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color : rgb(240,232,255) ;
}
  
.topnav a:hover {
    color : white ;
    background-color: rgb(127,86,204, 0.4);
}
  
.topnav-centered a {
    float: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.topnav-search  {
    float: none;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width:600px;
    height : 35px ;
    transform: translate(-50%, -50%);
}

  
.topnav-right {
    float: right;
}


